<html>

<head>
  <title>Test</title>

  <style>
    #container {
      width: 400px;
      margin-left: auto;
      margin-right: auto;
      background: #fe9;
      font-family: "Palatino", serif;
    }
  </style>

</head>

<body>
  <div id="container">
    <h1>Introduction to C++ Programming</h1>
    jhgfvsjdfgdsfhdk
  </div>
  <div id="container">
    <a href="https://in.tradingview.com/chart/xzkkBivY/">link text</a>
    <a href="https://youtu.be/z9bZufPHFLU">link</a>
  </div>




<!--   bapp code to generate list-->
<div> 
  <ul>
      <li >Introduction to C++ Programming</li>
      <ul>
        <li><a href="https://youtu.be/z9bZufPHFLU">link text</a></li>
        <li><a href="https://youtu.be/j8nAHeVKL08">link text</a></li>
        <li><a href="https://www.guru99.com/cpp-tutorial.html">link text</a></li>
<!--         <li><a href="https://in.tradingview.com/chart/xzkkBivY/">link text</a></li> -->
      </ul>
    
      <li>DataTypes, Variables & Operators</li>
      <ul>
        <li>Variables: <a href="https://youtu.be/fZbSl58orNs">link text</a>
          <a href="https://youtu.be/jigb6W35zHc">link text</a>
          <a href="https://www.w3schools.com/cpp/cpp_variables.asp">link text</a>
        </li>
        
        <li>DataTypes: <a href="https://youtu.be/cnT1oW5_ePM">link text</a>
          <a href="https://youtu.be/JrnQ-915czY">link text</a>
          <a href="https://www.scaler.com/topics/cpp/data-types-in-cpp/">link text</a>
        </li>
        
        <li>Operators: <a href="https://youtu.be/JBgZxnAj4hg">link text</a>
          <a href="https://youtu.be/i3a-G6Ebh9E">link text</a>
          <a href="https://cplusplus.com/doc/tutorial/operators/">link text</a>
        </li>
      </ul>
    
      <li>Conditional & Control Statements</li>
      <ul>
        <li><a href="https://youtu.be/AY96XFqb934">link text</a></li>
        <li><a href="https://youtu.be/cyB3HNlQyjY">link text</a></li>
        <li><a href="https://www.geeksforgeeks.org/decision-making-c-cpp/">link text</a></li>
      </ul>

      <li>Arrays, Strings & Pointers</li>
      <ul>
        <li>Array: <a href="https://youtu.be/PyTK_g1l8V8">link text</a></li>
        <li>Pointers: <a href="https://youtu.be/gHxmAgedyDk">link text</a></li>
        <li>Strings: <a href="https://youtu.be/W8hPsBquD6Y">link text</a></li>
      </ul>

      <li>Functions & OOPs Concepts</li>
      <ul>
        <li>Functions: <a href="https://youtu.be/83KtncYgHYQ">link text</a></li>
        <li>OOPS: <a href="https://youtube.com/playlist?list=PLox6Hh4SM89RZ-5JfZyr-pGJg0gmXCXOK">link text</a></li>
        
      </ul>

      <li>I/O Streams, Dynamic Memory</li>
      <ul>
        <li>I/O: <a href="https://youtube.com/playlist?list=PLox6Hh4SM89QVzfC5bPE_1g_yOQyVCawa">link text</a></li>
        <li>Dynamic Memory: <a href="https://youtube.com/playlist?list=PLox6Hh4SM89SL2eVdZWLp4RuqpXDL7sCK">link text</a>
        <a href="https://www.scaler.com/topics/cpp/dynamic-memory-allocation-in-cpp/">link text</a></li>
        
      </ul>

      <li>Exception Handling & Multithreading</li>
      <ul>
        <li><a href="https://youtu.be/7hcQQEHZPiQ">link text</a>
          <a href="https://www.w3schools.com/cpp/cpp_exceptions.asp">link text</a>
        </li>
        <li>Multithreading: <a href="https://youtu.be/kHULQnYrUIg">link text</a></li>
      </ul></li>
      
  </ul>

</div>

  
</body>

</html>




<!-- https://www.learncpp.com/ -->



<!-- https://www.scaler.com/topics/course/cpp-beginners/ -->